.StolenIn60SecondsGame {
    text-align: center;

    background-color: #3c3f44;
    height: calc(100vh - 46px);
    font-size: calc(10px + 2vmin);
    box-sizing: border-box;
    overflow: hidden;


}
.StolenIn60SecondsGame .button {
    width: 100px;
    height: 60px;
    border: 1px solid black;
    font-size: 40px;


}